@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');



#logo{
  background-image: '../';
}

.heading{
  text-align: center;
}
h1, Nav {
  font-family: 'Great Vibes', cursive;
}
Nav{
  font-size: 24px;
}
footer{
  text-align: center;
}
.card{
  margin: 10px;

}
h2{
  font-family: 'Great Vibes', cursive;
  font-size: 19px;
  text-decoration: underline;
  text-align: center;


}.icons ul{
 
 
}

.icons p{

  float: right;
  font-size: 40px;
  text-align: center;
 
  margin-right: 50px;
 
    
}